/* Table */
td{
    border: 1px  black;
}
table{
    margin: auto;
    margin-top: 10%;
}
input{
    text-align: center;
}
/* Nav Bar */
.navbar{
    background-color: #aa66cc;
}
.navbar-brand{ 
    padding-left: 9.5%;
    margin-left:auto;
    margin-right: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    /* text-colo */
    color:#9DD6DF;
}
/* Buttons */
.buttons{
    padding: 2%;
    text-align: center;
}
.check{
    margin-left: 1%;
}
.solve{
    margin-left: 1%;
    margin-right: 1%;
}